@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	font-family: "Roboto Mono";
	height: 100vh;
	padding: 0;
	margin: 0;
}