@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	font-family: "Nunito";
	background-image: url('https://i.pinimg.com/originals/37/71/6a/37716a05761d5f94a6819c06d06c0d48.gif');
	background-size: cover;
	background-repeat: repeat;
		
	height: 100vh;
	padding: 0;
	margin: 0;
}
.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*.typewriter-text {
	overflow:hidden;
	position: relative;
	width: 18em;
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	color: white;
	font-size: 30px;
	font-weight: bold;
	white-space: nowrap;
	text-shadow: 2px 2px #000000;
	
	animation: typewriter 4s steps(44) 4s 1 normal both,
				blinkTextCursor 400ms steps(44) infinite normal;
}

@keyframes typewriter {
	from {
		width: 0em;
	}
	
	to {
		width: 18em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	
	to {
		border-right-color: transparent;
	}
}
*/
.typewriter-text {
	overflow:hidden;
	border-right: 2px solid white;
	white-space: nowrap;
	margin: 0 auto;
	color: white;
	font-size: 30px;
	font-weight: bold;
	white-space: nowrap;
	text-shadow: 2px 2px #000000;
	
	animation: 
        typewriter 4s steps(40) 2s,
        blinkTextCursor .75s step-end infinite;
}

@keyframes typewriter {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinkTextCursor {
	from, to { border-color: transparent }
  50% { border-color: white; }
}
.folderimg {
	position: relative;
	display: inline-block;
}
.folderimg .img-top {
	display: none;
	position: relative;
	top: 0;
	left: 0;
	z-index: 99;
}
.folderimg:hover .img-bot{
	display: none;
}
.folderimg:hover .img-top{
	display: inline;
}
p {
	text-align: center;
}
.row {
	display: flex;
}
.column {
  flex: 33.33%;
  padding: 60px;
}